.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:70vw;
    padding-bottom:20px;
    h1{
        font-family:'skyrim';
        margin:0px;
        margin-bottom:10px;
    }
    p{
        font-size:18px;
        margin-top:0px;
        margin-bottom:5px;
    }
}

.welcome-message {
    font-size: 24px;
    margin-bottom: 20px;
}

.high-score-message {
    font-size: 18px;
    margin-bottom: 20px;
}


.leaderboard-button,
.back-to-login-button,
.logout-button,
.options-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.leaderboard-button:hover,
.back-to-login-button:hover,
.logout-button:hover,
.options-button:hover {
    background-color: #27ae60;
}

.options-button{
    font-family:'skyrim';
    width: auto;
    background-color: gray;
    border-radius: 0;
    border:solid 2px white;
    margin:2px 2px 2px 2px;
}

.options-button:hover{
    color:black;
    background-color: white;
}

.game-options-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:20px;
    margin-bottom: 20px;
}

.take-flight-button {
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    background-color: #3498db;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border: 6px solid #ffffff;
    
}

.take-flight-button:hover {
    background-color: red;
}

#left-options-container{
    display:flex;
    flex-direction: column;
    width: 30%;
    padding-right:20px;
}

#mid-options-container{
    padding:10px;
}

#right-options-container{
    display:flex;
    flex-direction: column;
    width: 30%;
    padding-left:20px;
}

.back-to-login-button{
    margin-top:10px;
}