.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.welcome-message {
    font-size: 24px;
    margin-bottom: 20px;
}

.high-score-message {
    font-size: 18px;
    margin-bottom: 20px;
}

.take-flight-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #3498db;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    border: 6px solid #ffffff;
}

.take-flight-button:hover {
    background-color: #2980b9;
}

.leaderboard-button,
.back-to-login-button,
.logout-button,
.options-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.leaderboard-button:hover,
.back-to-login-button:hover,
.logout-button:hover,
.options-button:hover {
    background-color: #27ae60;
}

.game-options-container {
    display: flex;
}