.final-score-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-header {
    font-size: 24px;
    margin-bottom: 10px;
}

.score {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.position {
    font-size: 18px;
    margin-bottom: 20px;
}

.fly-again-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: limegreen;
    color: #fff;
    font-size: 24px;
    font-family: 'airstrike';
    cursor: pointer;
    margin-bottom: 20px;
    border: 6px solid #ffffff;
}

.leaderboard-button,
.logout-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fly-again-button:hover {
    background-color: red;
}

.leaderboard-button:hover, 
.logout-button:hover {
    background-color: #0056b3;
}