.game {
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  margin: 0;
  border-style: solid;
  border-width: 10px;
}
#gameboard {
  letter-spacing: 10px;

}
#canvas-container{
  height:100%;
  width:100%;
}
#overlay-container{
  display:flex;
  color: goldenrod;
  text-shadow: 1px 1px 1px black;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}
#overlay-bot, #overlay-mid, #overlay-top{
  position: fixed;
  display:flex;
  align-content: center;
  z-Index: 1;
  width: 80vw;

}
#overlay-top{
  top:15vh;
  justify-content: center;
}

#overlay-mid{
  top:40%;
  justify-content: center;
  flex-direction: column;
}

#overlay-bot{
  justify-content: space-between;
  bottom:5vh;
}

.guessed-correctly {
  color:rgb(3, 173, 3);

  transition: visibility 0s 2s, opacity 2s linear;
}

.blink-me {
  color: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}